/* For search input fields */

.MuiOutlinedInput-input {
    padding: 10px;
}

.searchItem-title {
    font-size: 18px;
}


/* For table items */

.tableList table thead tr th,
.tableList table tbody tr td,
.tableList table tbody tr th {
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.tableList table thead tr th {
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.tableList table thead tr th:first-child {
    border-left: 1px solid rgba(224, 224, 224, 1);
}

.tableList table tbody tr th {
    border-left: 1px solid rgba(224, 224, 224, 1);
}